
//global

body {
  background-color: rgb(201, 201, 201);
  max-width: 100%;
}

/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font:  'Dancing Script', cursive;

//side bar//

.side-bar {
  background-color: $paragraph-color;
  position: fixed;
  float: left;
  max-height: 100%;
  z-index: 10;
  margin: 0 ;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  padding-right: 0;
  padding-left: 25px;
}

.sidebar-top {
  display: flex;
  display: inline-block;
  height: 60px;
  width: 100%;
}

.sidebar-title {
  font-family: 'Dancing Script', cursive;
  color: white;
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
}

.menu-bottom {
  color: lightgray;
  display: inline-block;
  margin-left: 20px;
  transition: 1s ease-in-out;

}

.menu-bottom:hover {
  color: red;
}

.icon-sidebar {
  height: 15px;
  width: 15px;
  filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
  margin-right: 10px;
}

.sidebar-list-menu {
  padding-left: 0;
}

.sidebar-list-menu li {
  list-style-type: none;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

.sidebar-list-menu li:hover .icon-sidebar {
  filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(253deg) brightness(105%) contrast(100%);
}

.sidebar-list-menu li:hover a {
  text-decoration: none;
  color: white;
}

.sidebar-list-menu li:hover {
  background-color: grey;
  border-left: 5px solid red;
  transition: 0.5s ease-in-out;
}

.sidebar-list-menu a {
  color: lightgray;
  font-size: 15px;
  width: 100%;
}

.menager {
  border-top: lightgray solid 0.2px;
  background-color: black;

}

.manager-title h4 {
  color: lightgray;
  padding: 25px;
  font-size: 15px;

}

.manager-profile {
  padding: 15px;
}


.pic-profile {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.manager-profile a {
  margin-left: 15px;
}


//novbar

.navbar {
  border: lightgrey 0.5px solid;
  top: 0;
  max-width: 100%;
  position: fixed;
  background-color: white;
  height: 60px;
  margin-top: 0;
  padding-top: 0;
  right: 0;
}

.navbar-container {
  right: 0;
  padding-right: 0;
  margin-right: 0;
}

.icon-navbar {
  height: 20px;
  width: 20px;
  filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);

}

.col-1:hover .icon-navbar {
  filter: invert(42%) sepia(73%) saturate(742%) hue-rotate(152deg) brightness(104%) contrast(105%);
  transition: 0.5s ease-in-out;
}

.col-2:hover .icon-navbar {
  filter: invert(42%) sepia(73%) saturate(742%) hue-rotate(152deg) brightness(104%) contrast(105%);
  transition: 0.5s ease-in-out;
}

.navbar a {
  color: lightgray;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  height: 60px;
  top: 0;
  margin-top: 15px;
}

.navbar .col-2:hover a {
  color: white;
}

.navbar .col-2:hover {
  background-color: lightgray;
  transition: 0.5s ease-in-out;
  border-left: solid red 3px;
}

.navbar .col-1:hover {
  background-color: lightgray;
  transition: 0.5s ease-in-out;
  border-left: solid red 3px;
}

.navbar-category {
  max-width: 100%;
  right: 0;
}

.wallet h5 {
  color: lightgray;
  display: inline;
  margin-left: 10px;
}

.wallet:hover h5 {
  color: white;
}

.wallet img {
  display: inline;
  margin-left: 10px;
}

.wallet {
  float: left;
  display: inline;
  height: 60px;
}

.navbar .col-2 {
  border-left: lightgray solid 0.5px;
  height: 60px;
}

.navbar .col-1 {
  border-left: lightgray solid 0.5px;
  height: 60px;
}

.small {
  height: 15px;
  width: 15px;
}

.col-1 a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.col-2 a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

//contant

.content {
  background-color: white;
  margin-left: 305px;
  margin-top: 75px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;

}

.content-name {
  border-bottom: lightgray solid 0.5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: rgb(182, 180, 180);
}

.calender-input {
  border-bottom: lightgray solid 0.5px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: rgb(182, 180, 180);
  position: relative;
  width: 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
}

input {
  border: none;
  padding: 5px;
}

.input-border {
  border: lightgray solid 0.5px;
  border-radius: 3px;
}

input .left {
  border-right: lightgray solid 0.5px;
}

.calender-input img {
  height: 20px;
  width: 20px;
}

.calender-input a  {
  background-color: orange;
  border: orange solid 6px;
  border-radius: 4px;
  margin-left: 20px;
  float: right;
}

.calender-input a:hover {
  background-color: lightgreen;
  border: lightgreen solid 6px;
  transition: ease-in-out 0.5s;

}

.statistics {
  padding-top: 40px;
  padding-bottom: 40px;
}

.table {
  margin-left: 0;
  margin-right: 0;
}

.cell {
  padding-top: 20px;
}

.cell-right {
  text-align: right;
}

.cell h5 {
  border-bottom: lightgray solid 0.5px;
  display: inline-block;
  margin-left: 30px;
}

.name {
  color: lightgray;
}

.chart {
  padding-top: 40px;
  padding-bottom: 40px;
}


.chart h5 {
  color: lightgray;
  margin-left: 100px;
}

.chart img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navigation-bottom {
  display: none;
}
//media

@media (max-width: 425px) {
  .side-bar {
    display: none;
  }

  .navbar {
    display: none;
  }

  .content {
    background-color: white;
    margin-left:0px;
    margin-top: 0px;
    padding-left: 0;
    padding-right: 0px;
    margin-right: 0px;
    max-width: max-content;
  }

  .chart img {
    max-width: 100%;
  }

  input {
    width:max-content;
    padding-left: 10px;
    height: 15px;
  }

  .input-border {
   width: 60%;
  }

  .cell h5 {
    font-size: 15px;
  }

  .cell {
    padding-top: 10px;
  }

  .statistics {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .chart {
    padding-top: 10px;
  }

  .navigation-bottom {
    border: lightgray 0.5px solid;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: inline;
    max-width: 100%;
    position: fixed;
    height: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .navigation-bottom .col {
    border-right: lightgray 0.5px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .icon-navigation {
    height: 15px;
    width: 15px;
    filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
  }

  .navigation-bottom .col:hover a {
    filter: invert(42%) sepia(73%) saturate(742%) hue-rotate(152deg) brightness(104%) contrast(105%);
    transition: 0.5s ease-in-out;

  }

}




